[Desktop Entry]
Encoding=UTF-8
Version=0.2.0
Exec=/usr/bin/appsettray-qt
Name=AppSetTray-Qt
Categories=Application;System;
Type=Application
Icon=/usr/share/icons/appset/appset.png
